<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>linktap</title>
    <link rel="stylesheet" type="text/css" href="//ink.global.ssl.fastly.net/3.1.10/css/ink.css">
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">

    <link rel="icon" href="/images/logo.png">
  </head>

  <body>
    <div class="ink-grid">
      <header>
        <h1><a href="/"><img src="/images/logo.png" class="logo" />linktap</a></h1>
      </header>

      <%= if get_flash(@conn, :info) do %>
        <div class="ink-alert basic success" role="alert"><p><%= get_flash(@conn, :info) %></p></div>
      <% end %>
      <!-- <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p> -->
      <main role="main">
        <%= render @view_module, @view_template, assigns %>
      </main>

    </div>
    <script type="text/javascript" src="//fastly.ink.sapo.pt/3.1.10/js/ink-all.js"></script>
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
