<tr>
  <td class="border-none">
    <%= @click.ip_address %>
  </td>
  <td class="border-none">
    <%= Timex.format!(@click.inserted_at, "{ISOdate} {h12}:{m}{am}") %>
  </td>
</tr>
<tr>
  <td colspan="2">
    Device: <%= @click.device %>
    <%= if @click.referrer do %><br />Referrer: <%= @click.referrer %><% end %>
  </td>
</tr>