<%= form_for @changeset, link_path(@conn, :create), [class: "ink-form"], fn f -> %>
  <div class="column-group">
    <div class="control-group all-70 small-100 tiny-100 push-center<%= error_class f, :url %>">
      <div class="control append-button">
        <span><%= text_input f, :url, placeholder: "enter url" %></span>
        <%= submit "shorten", class: "ink-button green" %>
      </div>
      <%= error_tag f, :url %>
    </div>
  </div>
<% end %>