<ul class="unstyled ink-form">
  <li>
    <strong>Short URL:</strong>
    <input id="email" name="email" type="text" value="<%= get_short_url(@conn, @link) %>" class="readonly-box" readonly>
  </li>
  <li>
    <strong>Full URL:</strong>
    <input id="email" name="email" type="text" value="<%= @link.url %>" class="readonly-box" readonly>
  </li>
  <li>
    <strong>Total Clicks:</strong>
    <%= @link.click_count %>
  </li>
</ul>

<%= unless @link.clicks == [] do %>
  <strong>Visitors:</strong>
  <table class="ink-table">
    <thead>
      <tr>
        <th class="align-left">IP Address</th>
        <th class="align-left">Time</th>
      </tr>
    </thead>
    <tbody>
      <%= render_many(@link.clicks, LinktapWeb.LinkView, "_click.html", conn: @conn, as: :click) %>
    </tbody>
  </table>
<% end %>