body {
  margin: 10px 0;
}

.logo {
  width: 32px;
  height: 32px;
  margin: 6px 6px 0 0;
}

h1 a {
  color: #e43228;
}

h1 a:hover {
  color: #af0917
}

.readonly-box {
  width: 100%;
}

.border-none {
  border-bottom: none !important;
}